@import lib.model.Todo
@import lib.model.Category
@(vv: model.ViewValueCommon, todos:  Seq[Todo], categories: Seq[Category])
@common.Default(vv) {
   <a>todoの全件表示</a>
   <ul>
      @for(todo <- todos) {
         <li>@todo.title</li>
         <ul>
            <li>@todo.content</li>
            <li>@todo.status.name</li>
            @defining(categories.find(_.id == todo.categoryId)) { category =>
               <li style="color: @category.map(_.color.colorCode)">@category.map(_.name)</li>
            }
         </ul>
      }
   </ul>
}